<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodos de enlace</title>
    <link rel="stylesheet" href="gateways.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
</head>
<body>
  <div class="container">
      
    <aside>
      <div class="top">
        <div class="logo">
          <img src="logo.png" alt="" />
          <h2>Nodos de enlace</h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-sharp"> close </span>
        </div>
      </div>
      <div class="sidebar">
        <a href="main" >
          <span class="material-symbols-sharp"> dashboard </span>
          <h3>Dashboard</h3>
        </a>
        <a href="gateway"  class="active">
          <span class="material-symbols-sharp"> wifi </span>
          <h3>Nodos gateway</h3>
        </a>
        <a href="semilleros"  >
          <span class="material-symbols-sharp"> eco </span>
          <h3>Semilleros</h3>
        </a>
        <a href="registro" >
          <span class="material-symbols-sharp">bar_chart</span>
          <h3>Registro</h3>
        </a>
        
        <a href="#">
          <span class="material-symbols-sharp"> logout </span>
          <form method="POST" action="/logout">
            <button class="logout" type="submit">Cerrar sesión</button>
          </form>
        </a>
        
      </div>
      

    </aside>
    <main>
     
      <div class="histories">
        <div class="up">
          <h2>Nodos gateway</h2>
          <div class="boton-agregar">
            <a href="agregar-gateway">
              <span class="material-symbols-sharp">add</span>
              <h2>Nuevo gateway</h2>
            </a>
          </div>
          
        </div>
        
        <div class="gateways">
        <% gateways.forEach(function(gateway) { %>
          <div class="gateway">
            <div class="arriba">
                <h1>Gateway #<%= gateway.id %></h1>
            </div>
            <div class="medio">
              <span class="material-symbols-sharp">location_on</span>
              <div class="coordenadas">
                <h3>Longitud: <%= gateway.longitud %></h3> 
                <h3>Latitud: <%= gateway.latitud %></h3> 
              </div>
            </div>
            <br>
            <h3>Semilleros asociados:</h3>
            
         
            
            <div class="abajo">
              <form action="/modificar-gateway/<%= gateway.id %>" method="get">
                <button class="boton modificar" type="submit">Modificar</button>
              </form>
              
              <form action="/eliminar-gateway/<%= gateway.id %>" method="post">
                <button class="boton eliminar" type="submit">Eliminar</button>
              </form>
            </div>
          
          </div>
        <% }); %>
      </div>
      </div>
    
    </main>
    <!-- <div class="barra">
        <a href="agregar-semillero">
          <span class="material-symbols-sharp">add</span>
          <h2>Agregar semillero</h2>
        </a>
        <a href="main">
          <span class="material-symbols-sharp">arrow_back</span>
          <h2>Volver al dashboard</h2>
        </a>
    <
     -->
    </div>
  
    
  </body>
</html>