<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semilleros</title>
    <link rel="stylesheet" href="semilleros.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
</head>
<body>
  <div class="container">
      
    <aside>
      <div class="top">
        <div class="logo">
          <img src="logo.png" alt="" />
          <h2>Semilleros</h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-sharp"> close </span>
        </div>
      </div>
      <div class="sidebar">
        <a href="main" >
          <span class="material-symbols-sharp"> dashboard </span>
          <h3>Dashboard</h3>
        </a>
        <a href="gateway"  >
          <span class="material-symbols-sharp"> wifi </span>
          <h3>Nodos gateway</h3>
        </a>
        <a href="semilleros" class="active" >
          <span class="material-symbols-sharp"> eco </span>
          <h3>Semilleros</h3>
        </a>
        <a href="registro" >
          <span class="material-symbols-sharp">bar_chart</span>
          <h3>Registro</h3>
        </a>
        
        <a href="#">
          <span class="material-symbols-sharp"> logout </span>
          <form method="POST" action="/logout">
            <button class="logout" type="submit">Cerrar sesión</button>
          </form>
        </a>
        
      </div>
      

    </aside>
    <main>
     
      <div class="histories">
        <div class="up">
          <h2>Semilleros</h2>
          <a href="agregar-semillero">
          <span class="material-symbols-sharp">add</span>
          <h2>Agregar semillero</h2>
        </a>
        </div>
        
        <div class="semilleros">
        <% semilleros.forEach(function(semillero) { %>
          <div class="semillero">
            <div class="arriba">
                <h1>Semillero #<%= semillero.id %></h1>
                
            </div>
            <div class="medio">
                <div class="semilla">
                    <span class="material-symbols-sharp">potted_plant</span>
                    <h2>Semilla:<br> <%= semillero.semilla %></h2>
                </div>
                <div class="temperatura">
                    <span class="material-symbols-sharp" id="estado_sem<%= semillero.id%>">power_settings_new</span>
                <h2><b id="estado_html<%= semillero.id%>"><%= semillero.estado_semillero %><</b></h2>
                </div>
                
            </div>
            
            <div class="descripcion">
              <h3>Temperatura límite: <%= semillero.temp_lim %> °C</h3> 
              <h3>Humedad relativa límite: <%= semillero.hum_limite %> %</h3> 
            <h3>Descripción: <%= semillero.description %></h3> 
            <h3>Estado de batería: <%= semillero.bateria %> %</h3>
            <h3>Id de nodo gateway asociado: <%= semillero.id_gateway %></h3>
            <h3>Id en red local: <%= semillero.id_local %></h3>
            </div>
            
            <div class="abajo">
              <form action="/modificar-semillero/<%= semillero.id %>" method="get">
                <button class="boton modificar" type="submit">Modificar</button>
              </form>
              <h3>Fecha de inicio de siembra: <%= semillero.fecha_inicio %></h3>
              <form action="/eliminar-semillero/<%= semillero.id %>" method="post">
                <button class="boton eliminar" type="submit">Eliminar</button>
              </form>
            </div>
          
          </div>
        <% }); %>
      </div>
      </div>
    
    </main>
    <!-- <div class="barra">
        <a href="agregar-semillero">
          <span class="material-symbols-sharp">add</span>
          <h2>Agregar semillero</h2>
        </a>
        <a href="main">
          <span class="material-symbols-sharp">arrow_back</span>
          <h2>Volver al dashboard</h2>
        </a>
    <
     -->
    </div>
  
    <script src="semilleros.js"></script>
  </body>
</html>